fish/fishd.*
fish/fish_history

ranger/bookmarks
ranger/history
ranger/tagged

node_modules

nvim/plugged/
nvim/autoload/plug.vim
boot/cache/
clojure/.cpcache

.tern-port
plug.vim.old
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/secrets/nginx/docs/default.nix
