{
	"data": "ENC[AES256_GCM,data:V+K4FNotyCGH/pU4csyoNV1zZ34N58I5TUngjU7Hq+E5Dm/bgb35Zq3Ih0Zu3ASIEoSP+FtMFSWqDG4KFbr295h257reYe86oAw/UZbnGX1M/LlPU+iDohDs+UABWlkGHjsUYeU3OzZLbP4Vw2oSE2zvzYEGSOLGaLT666ZG8TjOOsktBTK0qRnWWYfq9rswxgLAc60WNANTIzHsFvF1BflbT2lXk4ea5QuaP0Tamm92+VBFE+exZ3AqgfpDRSDJqorpU244rgPAKs5LKYNVax13Ii4fx3nlEoYgXR7g8PzzJ+0DgZKd0ua1BIP+dhVEyuzh64ywD2kk9DTtxfVFqShXEhzO5TUzx5knzs4QochO6GVJinRrRSCuUR/ujDPnB9Q4+sNzvLKR4/A26LVP+wV9zJ4yDNzAFzuBw3HSx7wbWJzLAK8qB+whBJR9xKO9EEf5n7gppWv04GAFZKs7LbOEIvpteKe88XAvuXbDPrLHc9JBlx8Lj5fy6+n0/XKiB57KHXqM0jtakt+eq1kZ7pYsMuA9aPZM/timvT+XD92lc5a2EgbzfWWg9QPf+005Jo54oTQ0c6vBF7VL11rCDgjfmyxA+fVkn3Yd9z0SUdpGylIndpabVg==,iv:xpl0rGwegutFxdRud8E5D2iYsLj01hrakK7MHq7yT2c=,tag:vAN3+aW5zHyLsSH9XaZI6A==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1s7pd5lll4r9m4hk9fhpz3dp2qjls96edfx0v62lkw50f29vp2yysd4t3gt",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJM2FHV3hBWVFFSzl2THMz\nRStPZ3JlK3V1L3ViZldwRHhPcFEvM1BPNzI4CnZLTkplQ2xZWDBwWW0vWERiSHEw\nd01iZGxWQ0xMMFFna3dDTXh0QU0zd0EKLS0tIHlrV0pQb3JXV29GUTRRaUtoVU91\nQ243SktGb2xOd3ROeGlFZFBBRllBOVkKaD4vfKWvwY+fHoI1jqqDIoWkegtAnslz\nKxMO/xwxWlR4mvlfPq081OWLZzN7bNJtbepJgeLCeNuQbyHj3oMcXQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-12-20T16:19:44Z",
		"mac": "ENC[AES256_GCM,data:59gMlxZfgiOlAoVxlzT3P7aFyB41FcDrnutIA+Jm86fPBLZNtQl1KC+BL7uxMkohLi5hVv2rcZhvDj3s99zlsqaI24h8T5IdGUnm6p1MLqRkq9gjVgAGrxiSv3pYoRuQIEw5xyWkyRsPSTtT/7BhtdgRHhBI62nofXK0qO/o+Rg=,iv:CbbgAIbLzE2bcW8DX5hlXilrP92Ka0pKx9LINIE30so=,tag:bsd7lXrytaBH9GXG/IppFg==,type:str]",
		"pgp": [
			{
				"created_at": "2021-09-29T21:33:16Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhQIMA+K6V8pS1YZ7AQ/+OmCx97NvuYX3b9gXToOPeZnjb6tJChv9vh12gQsY4CzV\n6anfh7xmzKHKFWl1XrD8r/UEwze8uEm6tVEZPJfP9eWoOrPcg3V0NbR+9gpZwR8a\n0JXNrcUWA0HAw17eSC5IJ7WcppxrqbZzx6ZKXNaUHRmo/vT19BGDhIxJRbu/Ggt4\nTJf1B/Jx8O6PM07AzvNSjVYsSqK79oqfnMINDwalPfcBYx62mhERIh0kFL9NYbI3\niG+TnleLNeww9ufbIBOrp0wLSdMjK+Hh6T04G0w65NduWFZ0kIj66LCoDCrqYrda\nhCpljCbNeAsE53rOPhQpQwk9tSioE6ZEQCoMEFkOSc3jc4s+TXq+BMLYtsN1ad2E\n67btX9viPKCpkkGeLAsC5xQiIU9/Nb0S5lgiPAurIcNKf8jySikBCmnot26Kw8BH\njlpyfngS8oXOVAH/E/wrcS2tTOwG8KAXclx9H6Au7nfJapsjjXyU+KsiA1KehS8P\n98nRBLw5HmTCr6Dr+AA0j9ExfMy5gjyxVzsdDrjXBpLPzTfp6tBKXS+q52GTDiwx\npFkEap/0FHwWn+8aNa5KU+GQaEMDcSrQVMxCeq8xpv+x5ZNXI47WMkIUUrAek3ST\n22GOcuO25O//GifDV3YSxhcgxJs1IINl6f6XYzTZwmzbdsCHpv9cGVtOBTN+OifS\nXgGiCFZIyMt3weBML9MvBBOAttzx48aXdKyodCR9BL2io7hnLc7okc5rOvVGpxQ7\n/MTt+/PdJQq5Zy80cEpUVCLCHjCSEugon9J6R0Xg1KNmOD0FKIOCb++qAnkskyw=\n=+0+L\n-----END PGP MESSAGE-----\n",
				"fp": "861E4236005ACB35220D814709AFB79F061ACD6C"
			}
		],
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.1"
	}
}