{
	"data": "ENC[AES256_GCM,data:Jcllzz+HIi/goLwTdisJ4QfHIJBEq311bB12C+AkfT49iM/d0/rkDNdDfYh7dNQoajACwSGnisOMIVhpObuIgaUZ6dkt9XWQwivTKPW/LK8IUG6X40eKPT3tnvMc92K1+HrEaHRsyuN7Egm21JM1zq2qeO9XDxHZYspMC8GX/lrVBQ6mZ7nEEsydZocGVL1du67bGp1+ENgIPBYrxer7uXghdlen/VtlSZmSW3B6N3Xj0wQOG6sW/ZfJlGH9iRoSDSkxRBtKEEFp+Z/ErDGnn/6/Uk/On9H+,iv:3h6C7JxudwYd3sDTQuqpuWjHaTKDOcqzFQHBlSVjhdo=,tag:eUV/GmJTQqC5I94ANZGTgw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1s7pd5lll4r9m4hk9fhpz3dp2qjls96edfx0v62lkw50f29vp2yysd4t3gt",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJM2FHV3hBWVFFSzl2THMz\nRStPZ3JlK3V1L3ViZldwRHhPcFEvM1BPNzI4CnZLTkplQ2xZWDBwWW0vWERiSHEw\nd01iZGxWQ0xMMFFna3dDTXh0QU0zd0EKLS0tIHlrV0pQb3JXV29GUTRRaUtoVU91\nQ243SktGb2xOd3ROeGlFZFBBRllBOVkKaD4vfKWvwY+fHoI1jqqDIoWkegtAnslz\nKxMO/xwxWlR4mvlfPq081OWLZzN7bNJtbepJgeLCeNuQbyHj3oMcXQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2021-09-29T20:34:13Z",
		"mac": "ENC[AES256_GCM,data:nBTcdrq33+OYhOjiurO3P3wt8CqZr1ZdcKDny2077g8pLLhS6ieNF94DpDT8GzX3fYhN78MIZM63eVRoAspXt7tpcDFQRcd92VLARXUyA++bzouReJRssSHbUgdZY0obLC+BDQv2KcpVJUthdiA6+mZ8j4bLX9uMj03Ov0++Hss=,iv:zfwdHps+ZB1VsHfx4fKQGDkJW3G8fA/I0tSi8QCS8Bk=,tag:N+MeB6bOSdXfNIC7JWw+2g==,type:str]",
		"pgp": [
			{
				"created_at": "2021-09-29T21:33:16Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhQIMA+K6V8pS1YZ7AQ/+OmCx97NvuYX3b9gXToOPeZnjb6tJChv9vh12gQsY4CzV\n6anfh7xmzKHKFWl1XrD8r/UEwze8uEm6tVEZPJfP9eWoOrPcg3V0NbR+9gpZwR8a\n0JXNrcUWA0HAw17eSC5IJ7WcppxrqbZzx6ZKXNaUHRmo/vT19BGDhIxJRbu/Ggt4\nTJf1B/Jx8O6PM07AzvNSjVYsSqK79oqfnMINDwalPfcBYx62mhERIh0kFL9NYbI3\niG+TnleLNeww9ufbIBOrp0wLSdMjK+Hh6T04G0w65NduWFZ0kIj66LCoDCrqYrda\nhCpljCbNeAsE53rOPhQpQwk9tSioE6ZEQCoMEFkOSc3jc4s+TXq+BMLYtsN1ad2E\n67btX9viPKCpkkGeLAsC5xQiIU9/Nb0S5lgiPAurIcNKf8jySikBCmnot26Kw8BH\njlpyfngS8oXOVAH/E/wrcS2tTOwG8KAXclx9H6Au7nfJapsjjXyU+KsiA1KehS8P\n98nRBLw5HmTCr6Dr+AA0j9ExfMy5gjyxVzsdDrjXBpLPzTfp6tBKXS+q52GTDiwx\npFkEap/0FHwWn+8aNa5KU+GQaEMDcSrQVMxCeq8xpv+x5ZNXI47WMkIUUrAek3ST\n22GOcuO25O//GifDV3YSxhcgxJs1IINl6f6XYzTZwmzbdsCHpv9cGVtOBTN+OifS\nXgGiCFZIyMt3weBML9MvBBOAttzx48aXdKyodCR9BL2io7hnLc7okc5rOvVGpxQ7\n/MTt+/PdJQq5Zy80cEpUVCLCHjCSEugon9J6R0Xg1KNmOD0FKIOCb++qAnkskyw=\n=+0+L\n-----END PGP MESSAGE-----\n",
				"fp": "861E4236005ACB35220D814709AFB79F061ACD6C"
			}
		],
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.1"
	}
}