{
	"data": "ENC[AES256_GCM,data:cydPyndEMJRyKVcZDPRkxweaxPGzc5tPXAo4xEVs0OSdsbnbawpcb4cI31kMN3aAXc4HT1dSUJzZkqRe58cpACckvFRjW09mFDzwzGUohyI0uTu5iWblImdWFKkSQ5uuiP3gPzI+Z9n/BRrFuCTV0PY81uUDcQt90DTYYsQSOp3H3Kt8UZGVEdRuW8yM03w7O0Y0F9gLfWZnJAg7EH8mocHqEOS2n7K1IGr8+3VDFLObZxl4spHj4EcHFc6Mc3GLV31YgSoNs5KlcvtZ3CX6PAqGgi4CVuM1h/UMA1cGUZuVbUMz+fYPL7YRtV7GTUnIU+5uz1tz803nFz2R0aA1j8lQYX0GbyfrgOqChK3+0OX7XakowsJ7gH9U088y+YYEJEWlqoXcHO3Fsagacl+PcHAf/cJo9BhsH7EeT88XOC1TO4nnC45nhw8Hx2uRt5tdFKmA6REaFXdKYqdr5m5dC6pHSgLScJcokctbNYaj8OxHV5OkT1SA+p7NbmCf1A==,iv:9XWol4tPiTEz/GUtywTOY+/KlSKrmIgV19lD0P6ltrs=,tag:T+/mVsP7PrqX89+95SZ4Xw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1s7pd5lll4r9m4hk9fhpz3dp2qjls96edfx0v62lkw50f29vp2yysd4t3gt",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJM2FHV3hBWVFFSzl2THMz\nRStPZ3JlK3V1L3ViZldwRHhPcFEvM1BPNzI4CnZLTkplQ2xZWDBwWW0vWERiSHEw\nd01iZGxWQ0xMMFFna3dDTXh0QU0zd0EKLS0tIHlrV0pQb3JXV29GUTRRaUtoVU91\nQ243SktGb2xOd3ROeGlFZFBBRllBOVkKaD4vfKWvwY+fHoI1jqqDIoWkegtAnslz\nKxMO/xwxWlR4mvlfPq081OWLZzN7bNJtbepJgeLCeNuQbyHj3oMcXQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2022-03-30T17:59:47Z",
		"mac": "ENC[AES256_GCM,data:o3tOxSP9fU4I40zNUiDUbA2j5dqmbccquSFLoWQtND00nWidLXPKEDYa2dk/o3chRZePGVrwRYMDo9DatRb1b20Pwsp+QNI5CKL1/JBdGbn3QHCDDibcuzm+OWwTgZzjO7t5huboO5Kp1tPOpnRIGA2R9IrMKjz1C0nIUtyZ7aE=,iv:c05sps9MrVODT21lBHNywB+Lg2BSOp27QFU1PEzIqfU=,tag:uTnnO24F5Ubd1KIKlrlb1w==,type:str]",
		"pgp": [
			{
				"created_at": "2021-09-29T21:33:16Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhQIMA+K6V8pS1YZ7AQ/+OmCx97NvuYX3b9gXToOPeZnjb6tJChv9vh12gQsY4CzV\n6anfh7xmzKHKFWl1XrD8r/UEwze8uEm6tVEZPJfP9eWoOrPcg3V0NbR+9gpZwR8a\n0JXNrcUWA0HAw17eSC5IJ7WcppxrqbZzx6ZKXNaUHRmo/vT19BGDhIxJRbu/Ggt4\nTJf1B/Jx8O6PM07AzvNSjVYsSqK79oqfnMINDwalPfcBYx62mhERIh0kFL9NYbI3\niG+TnleLNeww9ufbIBOrp0wLSdMjK+Hh6T04G0w65NduWFZ0kIj66LCoDCrqYrda\nhCpljCbNeAsE53rOPhQpQwk9tSioE6ZEQCoMEFkOSc3jc4s+TXq+BMLYtsN1ad2E\n67btX9viPKCpkkGeLAsC5xQiIU9/Nb0S5lgiPAurIcNKf8jySikBCmnot26Kw8BH\njlpyfngS8oXOVAH/E/wrcS2tTOwG8KAXclx9H6Au7nfJapsjjXyU+KsiA1KehS8P\n98nRBLw5HmTCr6Dr+AA0j9ExfMy5gjyxVzsdDrjXBpLPzTfp6tBKXS+q52GTDiwx\npFkEap/0FHwWn+8aNa5KU+GQaEMDcSrQVMxCeq8xpv+x5ZNXI47WMkIUUrAek3ST\n22GOcuO25O//GifDV3YSxhcgxJs1IINl6f6XYzTZwmzbdsCHpv9cGVtOBTN+OifS\nXgGiCFZIyMt3weBML9MvBBOAttzx48aXdKyodCR9BL2io7hnLc7okc5rOvVGpxQ7\n/MTt+/PdJQq5Zy80cEpUVCLCHjCSEugon9J6R0Xg1KNmOD0FKIOCb++qAnkskyw=\n=+0+L\n-----END PGP MESSAGE-----\n",
				"fp": "861E4236005ACB35220D814709AFB79F061ACD6C"
			}
		],
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.1"
	}
}