; {:conns
;  {:jvm {:port 5555}}}
{:conns
 ; {:dev {:port #slurp-edn ".prepl-port"}}
 {:dev {:port 5555
        :hooks {:connect! (fn [conn]
                            (try
                              (require 'cognitect.rebl)
                              ((resolve 'cognitect.rebl/ui))
                              (catch Exception e (prn "cognitect.rebl not found"))))
                :result! (fn [{:keys [code result]}]
                           (when (find-ns 'cognitect.rebl)
                            (cognitect.rebl/submit code result)))}}}}
