;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{:deps {org.clojure/clojurescript {:mvn/version "1.10.329"}
        org.clojure/clojure {:mvn/version "1.10.0"}}

 :aliases {:outdated   {:extra-deps {olical/depot {:mvn/version "1.1.0"}}
                        :main-opts  ["-m" "depot.outdated.main"]}

           :new        {:extra-deps {seancorfield/clj-new {:git/url "https://github.com/seancorfield/clj-new"
                                                           :sha "108f27159501f8ce12564b398b0ea50def3892b1"}}
                        :main-opts  ["-m" "clj-new.create"]}

           :rebel      {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                                     com.rpl/specter            {:mvn/version "1.1.1"}}
                        :main-opts  ["-m" "rebel-readline.main"]}

           :rebel-cljs {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                     com.bhauman/figwheel-main       {:mvn/version "0.1.7"}}
                        :main-opts  ["-m" "figwheel.main"]}

           :user {:extra-deps {vvvvalvalval/scope-capture  {:mvn/version "0.3.2"}
                               com.gfredericks/dot-slash-2 {:mvn/version "0.1.5"}
                               com.gfredericks/repl-utils  {:mvn/version "0.2.17"}}
                  :extra-paths ["/home/jlle/dotfiles/clojure"]}

           :find-deps  {:extra-deps {find-deps {:git/url "https://github.com/hagmonk/find-deps"
                                                :sha     "6fc73813aafdd2288260abb2160ce0d4cdbac8be"}}
                        :main-opts  ["-m" "find-deps.core"]}}}
  ;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies

  ;; :deps {
  ;;   org.clojure/clojure {:mvn/version "1.9.0"}
  ;; }

  ;; Aliases
  ;;   resolve-deps aliases (-R) affect dependency resolution, options:
  ;;     :extra-deps - specifies extra deps to add to :deps
  ;;     :override-deps - specifies a coordinate to use instead of that in :deps
  ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
  ;;   make-classpath aliases (-C) affect the classpath generation, options:
  ;;     :extra-paths - vector of additional paths to add to the classpath
  ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

  ;; :aliases {
  ;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.2.196"}}}
  ;;   :test {:extra-paths ["test"]}
  ;; }

  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://clojars.org/repo"}
  ;; }
